body {
  height: 100%;
  margin: auto;
  background-color: chocolate;
}

header {
  height: 30%;
  margin: auto;
  background-color: teal;
  padding: 5px;
}

.bannerStyle {
  color: white;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

.bannerItem1 {
  text-align: center;
  padding-bottom: 3px;
}

.bannerItem2 {
  text-align: center;
  padding-bottom: 3px;
}

.bannerItem3 {
  text-align: center;
  padding-bottom: 3px;
}

.recordImg {
  height: 200px;
  width: 200px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

main {
  height: 70%;
  margin: auto;
  background-image: url("https://cdn.vox-cdn.com/thumbor/DSMVhhC-i_OOOeBqjqfvv9xdpok=/0x0:1153x865/1400x1400/filters:focal(0x0:1153x865):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/46815774/trippy_image.0.0.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

ul {
  padding: 0;
}
